body{
  font-family: arial;
}
.catu{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  object-fit: cover;
}
.name{
  margin-top: 0px;
  margin-bottom: 8px;
}
.discrip1,.discrip2{
  margin-top: 8px;
  color: grey;
  margin-bottom: 8px;
}
.discrip2{
  font-size: 14px;
}
.follow {
  color: white;
  border: none;
  padding-top :8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  background-color: rgb(4, 150, 248);
  border-radius: 6px;
  font-weight: bold;
}
