body{
  font-family: Arial;
}
.js-cost-input{
  font-size: 25px;
  padding: 10px;
}
.js-calculate-button {
  background-color: rgb(11, 127, 11);
  color: white;
  border: none;
  font-size: 25px;
  padding: 12px 15px;
  cursor: pointer;
}

.error-message {
  color: red;
}