body{
  font-family: arial;
}
.todo-grid , .todo-input-grid {
  display: grid;
  grid-template-columns: 220px 140px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input , .due-name-input{
   font-size: 15px;
   padding: 6px;
}
.add-button {
  font-size: 15px;
  background-color: rgb(6, 146, 6);
  color: white;
  border: none;
  cursor: pointer;
}

.delete-button {
  font-size: 15px;
  color: white;
  background-color: rgb(174, 5, 5);
  border: none;
  padding-top: 10px;
  padding: 10px;
  cursor: pointer;
}