div{
  text-align: center;
}
body{
  font-family: arial;
}
.google{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search{
  width: 400px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: none;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 12px;
  border-radius: 22px;
  margin-bottom: 35px;
}
.searchee,.lucky{
  border: none;
  background-color: white;
}